h3
{
    color:#007833;
    font-size:16px;
    font-family: Verdana, sans-serif;

}

h2
{
    color:white;
    font-family: Verdana, sans-serif;
    padding:20px;
}

#header h2
{
    color:white;
    font-family: Verdana, sans-serif;
    padding:19px;
    font-size: 24px;
}

p
{
    font-family: Arial, sans-serif;
}
#container
{
    width: 1400px;
    background-color: #FFF;
    margin-right: auto;
    margin-left:auto;
    position:relative;
}
#header
{
    height: 80px;
    width: 100%;
    background-color: #007833;
    font-family: Arial, sans-serif;



}
#navigation
{
    height: 36px;
    width: 100%;
    background-color: black;

}
#navigation ul
{
    margin: 0;
    padding: 0;
}

#navigation li
{
    float:left;
    list-style-type: none;
    font-family: Arial, sans-serif;
    font-size: 14px;
}


#navigation a
{
    color:#FFF;
    text-decoration: none;
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 15px;
    padding-left: 15px;

}
/*--------style of sidebar links----------*/
#sidebar ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;

}

#sidebar li
{

    list-style-type: none;
    font-family: Arial, sans-serif;
    padding:3px;
}

#sidebar ul a
{
    color: black;
    text-decoration: none;
}
#sidebar a:link
{
    background-color: lightgray;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;

}
#sidebar a:visited
{
    background-color: darkgrey;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
}
#sidebar a:hover
{
    background-color: #007833;
    color: white;
}

#sidebar a:active
{
    background-color: #007833;
}

#navigation a:hover
{
    color: white;
}



/* ---------------------------------------*/
#main_sidebar
{
    display: flex;
    background-color: white;
}


#main
{
    float:right;
    width: 520px;
    padding-left: 15px;
    background-color: white;

}

#sidebar
{
    float:left;
    width: 200px;
    padding-left: 25px;
    padding-right: 10px;
    background-color:white; /* #c5c5c5 es el gris de ornl*/

}
#footer
{
    clear:both;
    background-color: #007833;
    padding: 15px;
    color:#FFF;
    width:1400px;
    text-align: center;
    height: 80px;
}

/*---------------Table---------------- */
th,td
{
    border: 1px solid black;
    border-collapse: collapse;
    padding-right: 20px;
    padding-left:20px;
    font-family: sans-serif;
    text-align: center;
}



.colorGreen
{

    border-color: #73a854;

    background: #DAFAC8; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #F3FDEA , #DAFAC8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #F3FDEA, #DAFAC8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #F3FDEA, #DAFAC8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #F3FDEA , #DAFAC8); /* Standard syntax (must be last) */
}
.colorYellow
{

    border-color: #D1C505;

    background: #F9FF80; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #FFFFE3 , #F9FF80); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #FFFFE3, #F9FF80); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #FFFFE3, #F9FF80); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #FFFFE3 , #F9FF80); /* Standard syntax (must be last) */
}
.colorBlue
{

    border-color: #2C69DB;

    background: #98C0EC; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #E4EFFF , #98C0EC); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #E4EFFF, #98C0EC); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #E4EFFF, #98C0EC); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #E4EFFF , #98C0EC); /* Standard syntax (must be last) */

}
.colorBlue2
{

    border-color: #3BAFC1;

    background: #D0EFF4; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #E9FAFF , #D0EFF4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #E9FAFF, #D0EFF4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #E9FAFF, #D0EFF4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #E9FAFF , #D0EFF4); /* Standard syntax (must be last) */

}
.colorRed
{

    border-color: #f19164;

    background: #f0c7ad; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #FFEFDF , #f0c7ad); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #FFEFDF, #f0c7ad); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #FFEFDF, #f0c7ad); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #FFEFDF , #f0c7ad); /* Standard syntax (must be last) */
}